.intranet-notification {
  position: relative;
  cursor: pointer;

  &__notification {
    width: 40px;
    border-radius: 20px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  &__counter {
    height: 14px;
    width: 14px;
    font-size: 10px;
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 8px;
    position: absolute;
    top: 70%;
    left: 55%;
    text-align: center;
  }

  &__popper {
    background-color: lightgray;
    padding: 5px;
    cursor: pointer;
  }

  &__attacher {
    margin: 10px;
  }

  &__attacher-photo {
    display: block;
    margin: 0 auto;
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }

  &__attacher-text {
    max-width: 230px;
    min-width: 200px;
    text-align: center;
  }

  &__attacher-text-date {
    font-size: 12px;
    font-style: italic;
  }
}