$black: #000;
$white: #FFF;
$brand_blue: #346c82;
$brand_blue_rgb: rgba(52, 108, 130, 0.8);
$brand_light-blue_rgb: rgba(52, 108, 130, 0.6);


$gem_black: #3E3E3D;
$gem_gray: #E0E0E0;
$gem_light_gray: #F6F6F6;
$gem_blue: #009BAC;

$status_green: #8BC359;
$status_orange: #FF6B00;
$status_yellow: #FFCD2E;
$status_red: #EF4B54;
$status_neutral: #D0D0D0;