.employees-table-manager {
  margin-top: 20px;

  &__columns {
    text-align: center;
    vertical-align: middle !important;
  }

  &__rows {
    max-width: none;
    margin: 5px;
  }

  &__rows-text {
    margin-right: 5px;
  }

  &__image {
    display: block;
    margin: 0 auto;
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }

  &__image-container {
    height: auto;
    max-width: 60%;
    min-height: 300px;
    margin: 0 auto;
  }

  &__image-holder {
    display: block;
    min-height: 300px;
    text-align: center;
    margin: 3px;
    border: 1px solid #E0E0E0;
  }

  &__image-holder-text {
    color: #989898
  }

  &__image-to-upload {
    display: block;
    max-height: 240px;
  }

  &__btn {
    margin-right: 5px;
  }
}
.flex-80 {
  padding:0;
  margin:10px;
}

.md-input {
  width:79%!important;;
}

.md-input-messages-animation {
  width: 19%!important;
  display: inline-block!important;
}

.ember-power-select-trigger {
  width:79%!important;;
}