{{#paper-tabs
  center=true
  stretch=true
  borderBottom=true
  selected=selectedBasicTab
  class="settings-menu"
  onChange=(action (mut selectedBasicTab)) as |tabs|}}
  <div class="settings-menu__container layout-column layout-gt-sm-row">
    {{#tabs.tab class='settings-menu__items'}}Training and development{{/tabs.tab}}
    {{#tabs.tab class='settings-menu__items'}}The Gemroad{{/tabs.tab}}
    {{#tabs.tab class='settings-menu__items'}}The Gemroad{{/tabs.tab}}
    {{#tabs.tab class='settings-menu__items'}}Incentives{{/tabs.tab}}
    {{#tabs.tab class='settings-menu__items'}}Employment Engagement Survey{{/tabs.tab}}
    {{#tabs.tab class='settings-menu__items'}}GemPitch Project{{/tabs.tab}}
  </div>
{{/paper-tabs}}

{{#liquid-bind (hash tab=selectedBasicTab) as |current|}}
  {{#if (eq current.tab 0)}}
    {{#paper-card as |card|}}
      Training and development
    {{/paper-card}}
  {{/if}}
  {{#if (eq current.tab 1)}}
    {{#paper-card as |card|}}
      The Gemroad
    {{/paper-card}}
  {{/if}}
  {{#if (eq current.tab 2)}}
    {{#paper-card as |card|}}
      The Gemroad
    {{/paper-card}}
  {{/if}}
  {{#if (eq current.tab 3)}}
    {{#paper-card as |card|}}
      Incentives
    {{/paper-card}}
  {{/if}}
  {{#if (eq current.tab 4)}}
    {{#paper-card as |card|}}
      Employment Engagement Survey
    {{/paper-card}}
  {{/if}}
  {{#if (eq current.tab 5)}}
    {{#paper-card as |card|}}
      GemPitch Project
    {{/paper-card}}
  {{/if}}

{{/liquid-bind}}

<div class="infoDetails"><p>Welcome to your virtual HR guide! From the HR annual strategy through some well incorporated talent management practices to the training calendar and career journey route - everything related to your well-being and profesional development within the Company will be situated in this folder! </p></div>
