<div class="layout-column" style="padding: 20px;">
  <div class="layout-row layout-align-center-center">
    <img src="https://image.flaticon.com/icons/svg/265/265666.svg" alt="User Profile" style="width:50%;max-width:256px">
  </div>
  <div class="layout-row layout-sm-colum layout-xs-column">
    {{#paper-select
      class="flex"
      label="Category:"
      options=categories
      selected=data.category
      onChange=(action (mut data.category))
      as |category|}}
      {{category.name}}
    {{/paper-select}}
    {{paper-input class="flex" label="Title:" type="text" value=data.title onChange=(action (mut data.title))}}
  </div>
  <div class="layout-row layout-sm-colum layout-xs-column">
    {{paper-input textarea=true block=true class="flex" label="Description:" maxlength=150 passThru=(hash rows=5 maxRows=5) value=data.description onChange=(action (mut data.description))}}
  </div>
  <div class="layout-row layout-align-end-center">
    {{#paper-button raised=true onClick=(action "createNewsletter" data)}}<div>Add</div>{{/paper-button}}
  </div>
</div>
