<div class="article-list layout-row layout-wrap layout-align-center-center">
  {{#each articles as |article|}}
    {{#article-item class='flex-nogrow' article=article}}{{/article-item}}
  {{/each}}
</div>
