{{#paper-tabs
  center=true
  stretch=true
  borderBottom=true
  selected=selectedBasicTab
  class="settings-menu"
  onChange=(action (mut selectedBasicTab)) as |tabs|}}
  <div class="settings-menu__container layout-column layout-gt-sm-row">
    {{#tabs.tab class='settings-menu__items'}}Add News{{/tabs.tab}}
    {{#tabs.tab class='settings-menu__items'}}Add Employee{{/tabs.tab}}
    {{#tabs.tab class='settings-menu__items'}}Add HR{{/tabs.tab}}
  </div>
{{/paper-tabs}}

{{#liquid-bind (hash tab=selectedBasicTab) as |current|}}
  {{#if (eq current.tab 0)}}
    {{#paper-card as |card|}}
      {{news-form createNews=(route-action "createNews")}}
    {{/paper-card}}
  {{/if}}
  {{#if (eq current.tab 1)}}
    {{#paper-card as |card|}}
      {{employee-form createEmployee=(route-action "createEmployee")}}
    {{/paper-card}}
  {{/if}}
  {{#if (eq current.tab 2)}}
    {{#paper-card as |card|}}
      <div class="layout-column" style="padding: 20px;">
        <div class="layout-row layout-align-center-center">
          <img src="https://image.flaticon.com/icons/svg/265/265666.svg" alt="User Profile" style="width:50%;max-width:256px">
        </div>
      </div>
    {{/paper-card}}
  {{/if}}
{{/liquid-bind}}
