{{#paper-tabs
  center=true
  stretch=true
  borderBottom=true
  selected=selectedBasicTab
  class="settings-menu"
  onChange=(action (mut selectedBasicTab)) as |tabs|}}
  <div class="settings-menu__container layout-column layout-gt-sm-row">
    {{#tabs.tab class='settings-menu__items'}}Add News{{/tabs.tab}}
    {{#tabs.tab class='settings-menu__items'}}Add Employee{{/tabs.tab}}
    {{#tabs.tab class='settings-menu__items'}}Add Newsletter{{/tabs.tab}}
  </div>
{{/paper-tabs}}

{{#liquid-bind (hash tab=selectedBasicTab) as |current|}}
  {{#if (eq current.tab 0)}}
    {{#paper-card as |card|}}
      {{article-form
              data=data
              createNews=(route-action "createNews")
              showModalDialog=(route-action "showModalDialog")}}
    {{/paper-card}}
  {{/if}}
  {{#if (eq current.tab 1)}}
    {{#paper-card as |card|}}
      {{employee-form
              data=data
              genders=model.genders
              companies=model.companies
              teams=model.teams 
              positions=model.positions
              createEmployee=(route-action "createEmployee")
              showModalDialog=(route-action "showModalDialog")}}
    {{/paper-card}}
  {{/if}}
  {{#if (eq current.tab 2)}}
    {{#paper-card as |card|}}
      {{newsletter-form
              data=data
              createNewsletter=(route-action "createNewsletter")
              showModalDialog=(route-action "showModalDialog")}}
    {{/paper-card}}
  {{/if}}
{{/liquid-bind}}
 
{{#if showModal}}
  {{#modal-dialog
    okBtnText="Yes"
    cancelBtnText="No"
    cancel="closeModalDialog"
    ok='actionModalDialog'
    modalTitle=modalTitle}}
    <p>{{modalBody}}</p>
  {{/modal-dialog}}
{{/if}}