{{#paper-tabs
  center=true
  stretch=true
  borderBottom=true
  selected=selectedBasicTab
  class="settings-menu"
  onChange=(action (mut selectedBasicTab)) as |tabs|}}
  <div class="settings-menu__container layout-column layout-gt-sm-row">
    {{#tabs.tab class='settings-menu__items'}}Add News{{/tabs.tab}}
    {{#tabs.tab class='settings-menu__items'}}Add Employee{{/tabs.tab}}
    {{#tabs.tab class='settings-menu__items'}}Add Newsletter{{/tabs.tab}}
  </div>
{{/paper-tabs}}

{{#liquid-bind (hash tab=selectedBasicTab) as |current|}}
  {{#if (eq current.tab 0)}}
    {{#paper-card as |card|}}
      {{news-form createNews=(route-action "createNews")}}
    {{/paper-card}}
  {{/if}}
  {{#if (eq current.tab 1)}}
    {{#paper-card as |card|}}
      {{employee-form createEmployee=(route-action "createEmployee")}}
    {{/paper-card}}
  {{/if}}
  {{#if (eq current.tab 2)}}
    {{#paper-card as |card|}}
      {{newsletter-form createNewsletter=(route-action "createNewsletter")}}
    {{/paper-card}}
  {{/if}}
{{/liquid-bind}}
