.wrapper {
	position: fixed;
	overflow: auto;
	height: 100%;
	width: 100%;
	margin: 0 auto;

	.liquid-container {
		overflow: inherit;
	}
}

// FF and Edge cut the edge (of padding-botton) of the content box of overflowing div
.wrapper:after {
  content:'';
  display:block;
  padding-bottom: 80px;
}

.wrapper::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	border-radius: 10px;
	background-color: $gem_light_gray;
}

.wrapper::-webkit-scrollbar
{
	width: 6px;
	background-color :$gem_light_gray;
}

.wrapper::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	background-color: $gem_gray;
}

.ember-power-select-placeholder {
	font-weight: bold;
}

.ember-power-select-status-icon {
	right: 22px !important;
	font-weight: bold;
	color: black;
	border-color: rgba(0, 0, 0, 0.54) transparent transparent transparent !important;
}

.ember-power-select-multiple-trigger {
	font-weight: bold;
	margin: 16px 4px;
	padding: 2px 8px !important;
}