{{#paper-sidenav-container class="inner-sidenav flex layout-row"}}
    {{navigation-sidenav rightSideBarOpen=rightSideBarOpen}}
  {{#paper-card-content class="flex"}}
    {{navigation-toolbar rightSideBarOpen=rightSideBarOpen notificationAction=(route-action "visitRoute") employees=model.employees}}
    <div id="wrapper" class="wrapper flex layout-column">
      {{outlet}}
    </div>
  {{/paper-card-content}}
{{/paper-sidenav-container}}
{{notification-container position="top"}}
