{{#paper-sidenav-container class="inner-sidenav flex layout-row"}}
    {{navigation-sidenav rightSideBarOpen=rightSideBarOpen}}
  {{#paper-card-content class="flex"}}
    {{navigation-toolbar rightSideBarOpen=rightSideBarOpen birthdaysCount=birthdayCounter birthdays=birthdays}}
    <div class="wrapper flex layout-column">
      {{outlet}}
    </div>
  {{/paper-card-content}}
{{/paper-sidenav-container}}
{{notification-container position="top"}}