md-toolbar {
  background-color: $gem_light_gray;
  color: $black;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: $gem_light_gray;
  color: $black; 
}

.md-toolbar-tools {
  .md-button {
    width: auto;
    border-radius: 0px;
  }
}

.md-button.md-raised:not([disabled]) {
  box-shadow: 0 0 0 0 $black;
}

.md-button.md-default-theme.md-raised:not([disabled]):hover, 
.md-button.md-raised:not([disabled]):hover {
  background-color: $gem_light_gray;
}

.md-button.md-default-theme.md-raised, .md-button.md-raised {
  background-color: $gem_light_gray;
}