{{#paper-toolbar class="nav-sidenav"}}
  {{#paper-toolbar-tools}}
    {{#paper-button iconButton=true raised=true onClick=(action "toggle" "rightSideBarOpen")}}
      {{paper-icon "menu"}}
    {{/paper-button}}
    <span class="flex"></span>
    {{employee-birthday birthdays=birthdays birthdaysCount=birthdaysCount}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
