.page-nav {
  &__button {
    position: fixed;
    top: 50%;
    width: 36px;
    min-width: 36px;
    height: 36px;
    min-height: 36px;
    line-height: normal;
    margin-top: -25px;
    outline: 0;
    //overwrite ember-paper default colour
    background-color: $brand_blue_rgb !important;
  }

  &__icons:hover {
    //overwrite ember-paper default colour
    color: $white !important;
  }

  &__prev {
    left: 0;
    transition: top .2s,-webkit-transform .2s;
    transition: transform .2s,top .2s;
    transition: transform .2s,top .2s,-webkit-transform .2s;
  }

  &__next {
    right: 0;
    transition: top .2s,-webkit-transform .2s;
    transition: transform .2s,top .2s;
    transition: transform .2s,top .2s,-webkit-transform .2s;
  }
}

.highcharts-title {
  font-size: 14px !important;
}

.employee-detailed-card {
  display: initial;
  width: 80%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.employee-image {
  width: 80%;
  margin: 0 auto!important;
  text-align:center;
  /*! height: 100%; */
}
.employee-image img{
width:100%;
max-width: 500px;

}
.employee-details {
  width: 100%;
  margin: 0 auto!important;
  padding:10px;
  font-size:1em;
  max-height: 100%;
  // max-width: 512px!important;
}

.layout-gt-md-row {
  width: 100%;
  /*! min-width: 250px; */
  /*! height: 100% !important; */
}
.employee-name {
  font-size:2em;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  font-family: "Monotype corsiva";
}

.employee-personal-details-left{
  width: 49%;
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

.employee-personal-details-right{
  width: 49%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.employee-personal {
  vertical-align: top;
}

.employee-header{
  color: #2d7487;
  font-size:1em;
  padding:0;
  margin:0;
  width:100%;
  background-color: #EEE;
  border-radius: 10px 10px 0px 0px;
  padding: 5px 5px 5px 10px;
  font-style: italic;
  font-weight: bold;
  margin-top: 10px;
}

.employee-details{
  line-height: 1.5em;
}

.employee-details img{
  max-height: 20px;
  max-width: 20px;
  margin-right: 10px;
}

.employee-values {
  padding: 2px 10px;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  border-radius: 0px 0px 10px 10px;
}

#box {
  position:relative;
  background:gray;
  margin:0;
}
#ribbon {
  position:absolute;
  bottom:-5px;
  right:-10px;
  width:90%;
  height:50px;
  background:#fff;
  color:#2d7487;
  padding:10px 20px;
  font-size:20px;
  font-weight:bold;
  border-radius:5px 0px 5px 5px;
  box-shadow:0 0 3px #dddddd;
  border:1px solid #dddddd;
text-align: center;

}

#ribbon:after {
  content:'';
  position:absolute;
  top: -10px;
  right:-1px;
  border-top:solid 5px transparent;
  border-right:solid 5px transparent;
  border-bottom:solid 5px #dddddd;
  border-left:solid 5px #dddddd;
}
