.page-nav {
  &__button {
    position: fixed;
    top: 50%;
    width: 36px;
    min-width: 36px;
    height: 36px;
    min-height: 36px;
    line-height: normal;
    margin-top: -25px;
    outline: 0;
    //overwrite ember-paper default colour
    background-color: $brand_blue_rgb !important;
  }

  &__icons:hover {
    //overwrite ember-paper default colour
    color: $white !important;
  }

  &__prev {
    left: 0;
    transition: top .2s,-webkit-transform .2s;
    transition: transform .2s,top .2s;
    transition: transform .2s,top .2s,-webkit-transform .2s;
  }

  &__next {
    right: 0;
    transition: top .2s,-webkit-transform .2s;
    transition: transform .2s,top .2s;
    transition: transform .2s,top .2s,-webkit-transform .2s;
  }
}