<img src="{{imgSource}}" alt="{{imgName}}" class="employee-avatar__image">
<div class="employee-avatar__overlay">
  <div class="employee-avatar__overlay-wrapper">
    <img src="{{avatarSource}}" alt="{{imgName}}" class="employee-avatar__overlay-image">
  </div>
</div>