{{#paper-card class="login-form" as |card|}}
  {{#card.content}}
    <div class="layout layout-sm-row">
      {{paper-input
        class="flex"
        label="User name"
        value=data.identification
        onChange=(action (mut data.identification))
      }}
    </div>
    <div class="layout layout-sm-row">
      {{paper-input
        label="Password"
        class="flex"
        type="password"
        value=data.password
        onChange=(action (mut data.password))
      }}
    </div>
    <div class="layout layout-sm-row layout-align-end-center">
    {{#paper-button raised=true}}<div onClick={{action "authenticate" data}}>Login</div>{{/paper-button}}
    </div>
  {{/card.content}}
{{/paper-card}}