<div class="employee-list layout-row layout-wrap layout-align-center-center">
  {{#each news as |singleNews|}}
    {{#news-item class='flex-nogrow' singleNews=singleNews}}{{/news-item}}
  {{/each}}
</div>
