{{!-- {{paper-icon "cake" size=36 class="employee-birthday__notification"}} --}}
<img src="https://image.flaticon.com/icons/svg/181/181489.svg" alt="Birthday" class="employee-birthday__notification">
<div class="employee-birthday__overlay">
  <span class="employee-birthday__counter">2</span>
  <span class="employee-birthday__counter">{{birthdays}}</span>
</div>
