<div class="newsletter-list layout-row layout-wrap layout-align-center-center">
  {{#each newsletters as |newsletter|}}
    {{#newsletter-item class='flex-nogrow' newsletter=newsletter}}{{/newsletter-item}}
  {{/each}}
</div>
