.news-menu {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;

  &__item {
    width: 80%;
    margin: 0 auto;
  }

  &__container {

  }
}

@media (max-width: 960px) {
  .news-menu {
    &__items {
      width: 100%;
    }
  
    &__container {
      width: 100%;
    }

    md-pagination-wrapper {
      height: 240px;
      width: 100%;
      transform: none !important;
    }
  
    md-tabs-canvas.md-paginated {
      height: 240px;
    }
  }
}


