{{#paper-form onSumbit=(action "createNews" data) as |form|}}
<div class="layout-column" style="padding: 20px;">
  <div class="layout-row layout-align-center-center">
    <img src="https://image.flaticon.com/icons/svg/190/190568.svg" alt="User Profile" style="width:50%;max-width:256px">
  </div>
  <div class="layout-row layout-sm-colum layout-xs-column">
    {{paper-input required=true  class="flex" label="Title:" type="text" value=data.title onChange=(action (mut data.title))}}
    {{paper-input required=true  class="flex" label="Author:" type="text" value=data.author onChange=(action (mut data.author))}}
  </div>
  <div class="layout-row layout-sm-colum layout-xs-column">
    <div class="flex-50">
      <label class="intranet-pickaday-label">
        Date:
        {{pikaday-input readonly="readonly" useUTC=true value=data.date format="DD-MM-YYYY" class="form-control intranet-pickaday-input" name='date' onSelection=(action (mut data.date))}}
      </label>
    </div>
  </div>
  <div class="layout-column layout-align-start-stretch">
    {{tinymce-editor options=options value=data.body onChange=(action (mut data.body))}}
  </div>
  <div class="layout-row  layout-align-end-center">
        {{#form.submit-button raised=true class="employee-form__button" primary=true}}Add{{/form.submit-button}}
    </div>
</div>
{{/paper-form}}